@media screen and (max-width: 1350px) {
	body {
		background-image: url("../img/bluee/blue-and-white-color-simple-desktop-background-wideside.jpg");
		background-attachment: fixed;
		background-position: center; 
	}

	